*{
    margin: 0;
    padding: 0;
}
.newsletter-body{
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    position: absolute;
    background: linear-gradient(
    -50deg,
    #fff  30%,
    #46C2CB 30% 50%,
    #fff 40% 70%
  );
}
.form-error{
    font-size: 17px;
    float: left;
    padding-left: 90px;
    background-image: linear-gradient(to right, red 30%,white );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.img-top{
    grid-column: 6 / span 10;
    grid-row: 1;
    padding-top: 15%;
    z-index: 6;
}
.div-bottom{
    height: 450px;
    width: 820px;
    background-color: #2C74B3;
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 5;
    margin-left: 180px;
}
img{
    height: 400px;
    width: 300px;
}
.bottom-body{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: start;
}
h1{
    color:#fff;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
}
.bottom-body p{
    max-width: 450px;
    text-align: left;
    padding-left: 90px;
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.newsletter-form input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -180px;
    border: none;
    width: 40%;
    margin-top:20px;
    background-color: #82C3EC;
}
.newsletter-form input::placeholder{
    color:#fff;
    padding-left: 10px;
}
.newsletter-form .sub-button {
   cursor: pointer;
   height: 44px; 
   width: 130px;  
   background:-webkit-linear-gradient(-30deg, #82C3EC 50%, #46C2CB 50%);  
   color: #fff;
   font-weight: 600; 
   outline: none;
   border: none; 
   
}
.newsletter-form .sub-button:hover {
    background: -webkit-linear-gradient(-30deg, #46C2CB 50%, #82C3EC 50%); 
 }
.notice {
 
 width: 345px;
 margin-left: 90px;
 text-align: center;
 }
.notice__copy{
color: #fff;
}

@media only screen and (max-width: 800px) {
    .img-container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        position: relative;
        align-items: center;
        text-align: center;
        margin-top: 80px;
        left:-160px;
    }
    .form-error{
        padding-left: 45px;
    }
    .img-top{
        grid-column: 11 / span 10;
        grid-row: 1;
        padding-top: 105%;
        z-index: 6;
    }
    .div-bottom{
        height: 450px;
        width: 620px;
        background-color: #2C74B3;
        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 5;
        margin-left: 180px;
    }
    .newsletter-form .sub-button {
        cursor: pointer;
        height: 44px; 
        width: 130px;  
        background:-webkit-linear-gradient(-30deg, #82C3EC 50%, #46C2CB 50%);  
        color: #fff;
        font-weight: 600; 
        outline: none;
        border: none; 
        
     }
     .newsletter-form .sub-button:hover {
         background: -webkit-linear-gradient(-30deg, #46C2CB 50%, #82C3EC 50%); 
      }
    img{
        height: 400px;
        width: 250px;
    }
    .bottom-body p{
        max-width: 430px;
        margin-left: -48px;
        margin-top: -20px;
    }
    .newsletter-form input[type="email"] {
        width: 40%;
        margin-left: -150px;
    }
    .notice {
        width: 345px;
        margin-left: 45px;
        }
}
@media  screen and (max-width: 700px) {
    .img-container{
        margin-top: 70px;
    }
    
    .img-top{
        grid-column: 10 / span 10;
        grid-row: 1;
        padding-top: 95%;
        z-index: 6;
    }
    .div-bottom{
        height: 450px;
        width: 520px;
    }
    .form-error{
        padding-left: 5px;
    }
    img{
        height: 400px;
        width: 230px;
    }
    .bottom-body p{
        max-width: 400px;
        margin-left: -80px;
    }
    .newsletter-form input[type="email"] {
        width: 40%;
        margin-left: -170px;
    }
    .notice {
        width: 335px;
        margin-left: 5px;
     }
}
